*{
    box-sizing: border-box;
}

body{
    background-color: rgb(171, 141, 141);
    display: grid;
    gap: 1rem;

    grid-template-areas: 
        "header header"
        "section aside"
        "output output"
        "footer footer"
    ;

    grid-template-columns: 1fr 1fr;
}

h2{
    font-size: 2rem;
    margin: 0;
}

header, footer, section, .output {
    background-color: rgb(189, 21, 21);
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: contents;
}

header{
    grid-area: header;
}

aside{
    display: flex;
    grid-area: aside;
    flex-direction: column;
    align-items: center;
    background-color: rgb(34, 137, 192);
    padding: 1rem;
}

footer{
    grid-area: footer;
}

.section_output{
    grid-area: output;
}

section{
    grid-area: section;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

section form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;
    border: 1px solid rgb(21, 18, 18);
    padding: 1rem;
    border-radius: 0.5rem;
}

section form input{
    font-size: 2rem;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1px solid rgb(35, 7, 126);
}

button{
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border: none;
    background-color: blueviolet;
    color: white;
}

button:hover{
    background-color: rgb(5, 47, 35);
    cursor: pointer;
}

.show_data{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    align-items: center;
    justify-content: center;
}

.border{
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 2rem;
    background: rgb(154, 15, 64);
}

.details dd,dt{
    display: inline;
    font-size: 2rem;
}

.details dd:after{
    content: "\A";
    white-space: pre;
}

@media (max-width: 700px){
    body{
        grid-template-areas: 
            "header"
            "section"
            "aside" 
            "footer"
        ;
    }
}
.output {
    display: grid;

    /* columns */
    grid-template-columns: repeat(3, 1fr);  /* 3 columns */

    /* rows */
    grid-auto-rows: minmax(200px, auto);    /* fixed row height */

    gap: 2rem;
}
.border {
    height: 240px;
    overflow-y: auto;       /* scroll if content is large */
}
